:root {
    /* colors */
    --white: #ffffff;
    --black: #000000;
    --grey: #E9E9E9;
    /* font-size */
    --fs-hero: clamp(3rem, 10vw, 5.75rem);      /* 92px */
    --fs-display: clamp(2.5rem, 8vw, 4.875rem);      /* 78px*/
    --fs-product: clamp(0.9375rem, 1.5vw, 1.125rem); /* 18px */
    --fs-body: clamp(0.875rem, 1.5vw, 1rem);     /* 16px */
    --fs-caption: clamp(0.6875rem, 1vw + 0.1rem, 0.8125rem); /* 13px */
    /* radius */
    --radius:4px;
    --space-xs: clamp(0.5rem, 1.5vw, 1rem);/*8 -16 px*/
    --space-sm: clamp(1rem, 3vw, 1.75rem); /*16 28px*/
    --space-md: clamp(1.5rem, 4vw, 2.5rem); /*40px - 75px*/
    --space-lg: clamp(3.75rem, 8vw, 6.25rem); /*60px - 100px*/
    --space-xxl: clamp(5rem, 10vw, 7.375rem); /*60 118px*/
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grey);
    text-transform: uppercase;
}
header {
    min-height: 130dvh;
    background-image: url(img/HERO.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav{
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    padding: var(--space-md) var(--space-sm);
    color: var(--white);
}
.nav__header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--space-xs);
    padding-left: var(--space-lg);
}
.nav__title,
.section-hero{
    font-family: 'Inter',sans-serif;
    font-size: var(--fs-hero);
    font-weight: 800;
    letter-spacing: -4px;
    line-height: 1;
    max-width: 11ch;
}
.nav__brand-group{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.nav__menu{
    list-style-type: none;
    font-family: 'Roboto',sans-serif;
    font-size: var(--fs-caption);
    line-height:2.5 ;    
    padding-right: var(--space-xxl);
}
.nav__menu .nav__item .nav__link{
    color: var(--white);
    text-decoration: none;
}
.nav__actions{
    display: flex;
    flex-direction: row;
    gap: var(--space-sm);
    justify-content: flex-end;
    width: max-content;
}
.btn{
    width: 107px;
    height: 44px;
    border-radius: var(--radius);
    border: none;
}
.nav__toggle{
    color: var(--black);
    background-color: transparent;
    height: 16px;
    border: none;
    color: var(--white);
    padding-top: 10px;
}
.header__footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:var(--space-sm) var(--space-md);
    color: var(--white);
    font-family: 'Roboto Mono',sans-serif ;
    font-size: var(--fs-product);
    line-height: 1.2;
    padding: var(--space-md) var(--space-sm);
}
.header__info{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--space-lg);
}
.header__description,
.section-content{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono',sans-serif ;
    gap: var(--space-xs);
    max-width: 33ch;
}
.scroll-indicator{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
}
/*about section*/
.about{
    padding: var(--space-lg) var(--space-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}
.about__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-name,
.section-content{
    font-family: 'Roboto Mono',sans-serif;
    font-size: var(--fs-body);
}
.section-hero{
    font-size: var(--fs-display);
}
.section-content{
    align-self: flex-end;
}
.product-slider{
    display: flex;
    flex-direction: row;
    gap: var(--space-xxl);
}
.product-slider__controls{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: var(--space-xs);    
}
.product-slider__btn{
    background-color: var(--white);
    border: none;
    width: 60px;height: 60px;
    border-radius: var(--radius);
}
.product-list{
    display: flex;
    flex-direction: row;
    gap:var(--space-sm);
    overflow:hidden;
}

.product-card img{
    padding-bottom:var(--space-xs) ;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}
.product-card__info{
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}
.product-card__tag{
    font-family: 'Roboto' , sans-serif;
    font-weight: bold;
    font-size: var(--fs-caption);
    opacity: 0.6;
}
.product-card__about{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    font-family: 'Roboto' , sans-serif;
    font-size: var(--fs-product);
    font-weight: bold;
}