* {/*sayfadaki bütün elementler seçilir. aşağıdaki kodlar ise tarayıcı varsayılanlarını sıfırlayıp tüm elemenalra başlangıç noktası verir. */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {/*sadece body etiketi seçilir.*/
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  background-color:  #cdc5c6;
}
header,
main,
footer{
    background-color:  #dfd7d8;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border-bottom: 1px solid #767373;
}
h1{
    text-align: center;
    color: #87231e;
}
h3{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #87231e;

}

.sagda{
    float: right;
    width: 250px;
    margin-left:20px;
    margin-right: 20px;
    border-radius: 10px;
}
.arapca{
    writing-mode:horizontal-tb
}
#book-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 1rem;
  color: #87231e;
  line-height: 0.1;
}
ul{
    list-style-type: none;
    padding-left: 1rem;
}
.book-names{
    list-style-type: disc;
}
